
.serach-options{
    border: 1px solid grey;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    align-content: flex-start;
    
}

.Tags-options{
    border: 1px solid red
}

.platform-choice{
    border: 1px solid yellow;
    display: flex;
    align-items:  flex-start;

}

.chip {
/* Center the content */
margin: 5px;
align-items: center;
display: inline-flex;
 justify-content: center;

/* Background color */
background-color: rgba(90, 90, 90, .9);
border: 1px solid grey;
/* Rounded border */
border-radius: 9999px;

/* Spacing */
padding: 2px 4px;
font-size: medium;
}
.chip:hover{
    background-color: rgb(177, 174, 174);

}
.active{
    background-color: rgb(110, 110, 175);
}

.chip__content {
margin-right: 4px;
}

.label {

    /* Center the content horizontally */
    background-color: grey;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    /* align-items: center; */
    display: inline-flex;

    /* Cursor */
    cursor: pointer;
}

.label__input {
    /* Hide it */
    display: none;
}

.Platform{
    color: white;
    height: 10px;
}

.searched-games{
    border: 1px solid black;
}